.footer-style {
  padding: 0 30px 40px 30px;
  margin-top: 100px;
  display: block;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  color: #fff;
  background-color: rgb(0, 0, 0);
}
.logo-image {
  width: 100px;
}

.icon-image {
  width: 40px;
}

.icon-image:hover {
  cursor: pointer;
  opacity: 70%;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

li {
  display: inline;
  margin-right: 10px;
}

.icons {
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: right;
}
