body {
  background-color: hsl(0, 0%, 93%);
}
.home-container {
  display: block;
  margin: 0 auto;
  width: 900px;
}

.hero {
  text-align: center;
  padding: 2rem;
  font-family: "Lobster Two", sans-serif;
}

.hero img {
  max-width: 100%;
  height: auto;
  box-shadow: 3px 5px 5px #777775;
}

.title-home {
  font-family: "Lobster Two", sans-serif;
  text-align: center;
  font-size: 4rem;
  padding: 0 0 2% 0;
  text-shadow: 3px 5px 5px #a7a7a7;
}

.createPost-heading {
  text-align: center;
  font-weight: 100;
}

.form-container {
  width: 1000px;
  box-shadow: 3px 5px 5px #d3d3d3, -3px -5px 5px #d3d3d3;
  border-radius: 10px;
}
